.abigstick {
  background-image: url("/assets/images/bigstick1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.page-content {
  background-color: $grey-color-light;
}

.wrapper {
  min-width: 80%;
}

.whitebox {
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.2);
  padding: 15px 30px;
}
