.head-image {
  border-radius: 15px;
  background-image: url("/assets/images/bigstick-dark.jpg");
  background-size: cover;
  color: #fefefe;
  // background-position: center;
}

.head-content {
  height: 300px;
  width: 80%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  text-shadow: #000 0 0 2px 2px;
}

.site-header {
  background-color: #141824;
  padding: 1rem;
  box-sizing: border-box;
  min-height: $spacing-unit * 1.865;
  text-shadow: 1px 1px 4px #000;
}

.title-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 0 auto;
}

.head-nav {
  flex: 0 0 auto;
  text-align: right;
  color: #fafafa;
  opacity: 0.75;
  @include relative-font-size(1.2);
}

.site-title {
  @include relative-font-size(3);
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0;
}
