.site-header {
  position: sticky;
  height: 320px;
  top: calc(5rem - 300px);
  width: 100%;
}

.headspace {
  height: 1rem;
  width: 100%;
  // backdrop-filter: blur(3px) brightness(90%);
}

.head-image {
  border-radius: 15px;
  background-image: url("/assets/images/bigstick-dark.jpg");
  background-size: cover;
  background-position: center top;
}

.header-banner {
  height: 100%;
  // background-color: #141824;
  backdrop-filter: blur(9px) brightness(60%);
  padding: 1rem;
  box-sizing: border-box;
  min-height: $spacing-unit * 1.865;
  display: flex;
  justify-content: center;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.4);
  color: #ececec;
  text-shadow: 1px 1px 4px #000;
  a {
    transition-property: color, text-shadow;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }
  a:hover {
    color: #fafafa;
    text-shadow: 3px 3px 6px #000;
    transition-property: color, text-shadow;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
  }
}

.head-content {
  height: 100%;
  width: 75%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  text-shadow: #000 0 0 2px 2px;
  border: 1px solid #4f4f4f;
}

.title-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 0 auto;
}

.head-nav {
  flex: 0 0 auto;
  text-align: right;
  color: #ececec;
  @include relative-font-size(1.2);
}

.site-title {
  @include relative-font-size(3);
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0;
  width: fit-content;
}
