pre code {
  box-shadow: none;
}

code span.added {
  color: #395;
}

code span.modified {
  color: #aa3;
}

code span.unmodified {
  color: #aaa;
}

code span.inline-value {
  color: #a63;
}

.output {
  font-family: monospace;
  background: #aaa8;
  padding: 0.3em;
  margin-bottom: 1em;
  white-space: pre;
  overflow-x: scroll;
  box-shadow: inset 1px 2px 5px #0007;
}

.filename {
  text-decoration: underline;
}

.resource-name {
  font-family: monospace;
  color: #844;
  background-color: rgba(0,0,0,0.1);
}
