---
---

@import "minima";

.page-background {
  background-image: url("/assets/images/bigstick1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.page-content {
  background-color: rgba(0,0,0,0.4);
}

.wrapper {
  min-width: 80%;
}

.whitebox {
  width: 100%;
  background-color: rgba(255,255,255,0.87);
  box-shadow: 0px 0px 8px 2px rgba(255,255,255,0.6);
  padding: 15px;
  transition-property: background-color;
  transition-duration: 0.4s;

  &:hover {
    background-color: rgba(255,255,255,0.9);
    transition-property: background-color;
    transition-duration: 0.4s;
  }
}

.post-title-in-list {
  font-size: 2em;

  a {
    color: #311;
  }
}

.post-description-in-list {
  color: #606060;
  font-style: italic;
}

.post-list-spacer {
  padding-bottom: 16px;
}

pre.highlight {
  border-radius: 1em;
  box-shadow: 1px 2px 6px #777;
}

code {
  border-radius: 0.25em;
  box-shadow: 0.5px 1px 2px #777a;
}

pre code {
  box-shadow: none;
}

.post-date {
  margin-right: 10px;
  color: #555;
}

.tag-list {
  padding-bottom: 5px;
}

.post-tag {
  font-size: 0.85em;
  background-color: #cce;
  color: #000;
  border-radius: 0.3em;
  display: inline;
  padding: 2px 4px 2px 4px;
  margin-right: 3px;
}
