---
layout: default
---

<div class="home">
  <!-- <img src="assets/images/bigstick1.jpg"></img> -->

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title | upcase }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="post-date">
          {{ post.date | date: date_format }}
        </div>
        <div class="post-title-in-list">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </div>
        {%- if post.description -%}
          <div class="post-description-in-list">
            {{post.description | escape}}
          </div>
        {%- endif -%}
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <div class="tag-list">
          {% for tag in post.tags %}
            <div class="post-tag">
              {{ tag }}
            </div>
          {% endfor %}
        </div>
        <div class="post-list-spacer"></div>
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
  {%- endif -%}

</div>
